* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #090263;
    --accent-purple: #F5EDFF;
    --background-color: #ffff;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--blue);
    background-color: var(--background-color);
}

a {
    color: var(--blue);
    text-decoration: underline;
}

a:hover {
    color: var(--blue);
    font-weight: 600;
}

section {
    height: 100vh;
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-left: 2px; /* Added to shift content to the right */
}

.email.error,.password.error {
    color: #da0400;
    font-weight: 600;
    font-size: 13px;
    text-align: left;
    margin-bottom: 20px;

}



.error.message {
    /* background-color: #f2dede; Light red background */
    color: #ff0602; /* Dark red text */
    font-weight: 600;
    padding: 8px; /* Padding around the text */
    /* border: 1px solid #ebccd1; Dark red border */
    /* border-radius: 3px; Rounded corners */
    margin-top: 10px; /* Spacing above the message */
    margin-bottom: 20px;
    width: 100%; /* Width of the error message */
    text-align: center; /* Center the text within the error message */
}





#sign-in {
    width: 25rem;
    margin: 1rem;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.logo-container img {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

.logo-container span {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--blue);
}

#sign-in h2 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
}

#sign-in #email,
#sign-in #password {
    border: none;
    border-bottom: 2px solid var(--blue);
    width: 100%;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    background-color: var(--background-color);
    color: var(--blue);
    font-weight: 500;
}

#sign-in #password {
    margin-bottom: 3rem;
}

#sign-in *:focus {
    outline: none;
}


#sign-in #toggle-password {
    font-size: 2rem;
    position: absolute;
    margin-left: -12px;
    cursor: pointer;
    background-color: var(--background-color);
}

#sign-in #forgot-password {
    font-size: 1.3rem;
}

#sign-in #submit {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--blue);
    color: white;
    border: none;
    font-size: 1rem;
    margin-top: 22px;
    cursor: pointer;
}

#sign-in #submit:hover {
    background-color: var(--accent-purple);
    color: var(--blue);
    border: 1px solid var(--blue);
}

#error-message {
    background-color: #f2dede;
    color: #ff0602;
    font-weight: 600;
    padding: 8px;
    border: 1px solid #ebccd1;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

#carousel-part {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Adjust image size */
.rounded-image {
    width: 500px; /* Adjust size as needed */
    height: 450px;
    border-radius: 20px; /* Rounded bottom corners */
    margin: 20px;
    position: relative;
}

.rounded-image::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    height: 40px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.7), transparent);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    filter: blur(10px);
}

@media screen and (max-width: 768px) {
    #carousel-part {
        display: none;
    }
}


  /* Scroll bar */
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  
  ::-webkit-scrollbar-track {
    background: #e4e6eb;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #090263;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #090263;
  }
